backend/**/bin/
backend/**/obj/
backend/**/*.user
*.suo
.vs/

frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/*.local

# env/secrets
.env
.env.local
appsettings.Development.json

.vscode/
.idea/

.DS_Store
Thumbs.db